@{
    ViewBag.Title = "Car Insurance App";
}

<div class="jumbotron">
    <h1>Car Insurance Quote Generator</h1>
    <p class="lead">This application will generate a monthly insurance quote for you based on your details and driving history.</p>
    <p><a href="https://localhost:44313/Insuree/Create" class="btn btn-primary btn-lg">Get started &raquo;</a></p>
</div>

